<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="site-logo" [routerLink]="['/']">
        <img class="logo" src="../../../assets/images/riskcenter-logo.png" alt="Risk Center Store">
      </a>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#" [routerLink]="['/store']">Tienda</a></li>
        <li class="nav-item"><a class="nav-link" href="#" [routerLink]="['/my-orders']">Mis Ordenes</a></li>
        <li class="nav-item"><a class="nav-link" href="#" [routerLink]="['/orders']">Ordenes</a></li>
      </ul>
    </div>
  </nav>
</header>
